.text-violet {
    color: violet;
}

.text-blue {
    color: blue;
}

.text-sky {
    color: skyblue;
}

.text-green {
    color: green;
}

.text-yellow {
    color: red;
}

.text-orange {
    color: red;
}

.text-red {
    color: red;
}