.bg-violet {
    background-color: violet;
}

.bg-blue {
    background-color: blue;
}

.bg-sky {
    background-color: skyblue;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: red;
}

.bg-orange {
    background-color: red;
}

.bg-red {
    background-color: red;
}